* {
	-fx-green-color: #22423d;
	-fx-darker-green-color: #142b27;
	-fx-lighter-green-color: #008200;
	-fx-yellow-color: #fbc108;
	-fx-darker-yellow-color: #e0ac00;
	-fx-lighter-yellow-color: #ffdb58;
	-fx-main-light-color: #e0e0e0;
	-fx-shadow-color: rgba(40, 63, 59, 0.2);
	-fx-text-light-color: #505050;
	-fx-text-error-color: #ff0000;
	-fx-text-error-light-color: #ff7777;
	-fx-background-light-color: #ffffff;
	-fx-transparent-textfield-color: rgba(255, 255, 255, 0.7);

	-fx-background-color: transparent;
}

/* Shadow */
.shadow {
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

/* Text Fields */
.text-field,
.text-area {
	-fx-background-color: -fx-main-light-color;
	-fx-text-fill: -fx-text-light-color;
	-fx-background-radius: 5;
	-fx-padding: 7 10;
	-fx-font-size: 16;
}

/* Buttons */
.button {
	-fx-background-color: -fx-yellow-color;
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 16;
	-fx-background-radius: 5;
	-fx-padding: 7 15;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: -fx-darker-yellow-color;
}

.action-btn {
	-fx-background-color: -fx-green-color;
	-fx-text-fill: -fx-yellow-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.action-btn:hover {
	-fx-background-color: -fx-darker-green-color;
}

/* Text Styles */
.heading {
	-fx-text-fill: -fx-green-color !important;
	-fx-font-size: 20 !important;
	-fx-font-weight: bold !important;
}

.normal {
	-fx-font-size: 16;
	-fx-text-fill: rgba(0, 0, 0, 0.7);
}

.success-text {
	-fx-text-fill: white;
	-fx-background-color: -fx-lighter-green-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-padding: 5 15;
	-fx-background-radius: 5;
}

.error-message {
	-fx-text-fill: -fx-text-error-color !important;
	-fx-font-size: 14 !important;
}

.error-message-light {
	-fx-text-fill: -fx-text-error-light-color;
	-fx-font-size: 14;
}

/* Product Box */
.product-box {
	-fx-background-color: -fx-background-light-color;
	-fx-background-radius: 10;
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.product-box .name {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 18;
}

.product-box .unit {
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 14;
}

.product-box .price {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.product-box .button .glyph-icon {
	-fx-fill: -fx-darker-green-color;
}

/* Inventory Item */
.inventory-item {
	-fx-background-color: -fx-background-light-color;
	-fx-background-radius: 5;
	-fx-padding: 10;
	-fx-border-color: -fx-shadow-color;
	-fx-border-width: 1;
	-fx-border-radius: 5;
}

.inventory-item .label {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 14;
}

.inventory-item .button .glyph-icon {
	-fx-fill: -fx-darker-green-color;
}

.inventory-item .button:hover {
	-fx-background-color: -fx-darker-yellow-color;
}

/* Cart */
.cartitem-counter {
	-fx-background-color: -fx-green-color;
	-fx-text-fill: -fx-yellow-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
	-fx-background-radius: 100;
	-fx-padding: 1 9;
}

.empty-cart {
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 16;
}

.cartitem-box {
	-fx-background-color: transparent;
	-fx-background-radius: 10;
	-fx-padding: 15;
	-fx-border-color: -fx-shadow-color;
	-fx-border-width: 1;
	-fx-border-radius: 5;
}

.cartitem-box .name,
.cartitem-box .item-total {
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.cartitem-box .unit-price {
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 14;
}

.cartitem-box .button {
	-fx-background-color: -fx-yellow-color;
	-fx-padding: 5 10;
	-fx-font-size: 14;
}

.cartitem-box .quantity {
	-fx-font-size: 14;
	-fx-background-color: -fx-main-light-color;
	-fx-padding: 5 12;
	-fx-text-fill: -fx-text-light-color;
	-fx-background-radius: 5;
}

.order-summary {
	-fx-background-color: -fx-main-light-color;
	-fx-padding: 25;
}

.order-summary .label,
.order-summary .radio-button {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 16;
}

.order-summary .radio-button .radio {
	-fx-background-color: -fx-main-light-color;
	-fx-border-color: -fx-green-color;
	-fx-border-radius: 100;
	-fx-padding: 5;
	-fx-background-radius: 100;
}

.order-summary .radio-button:selected .radio .dot {
	-fx-background-color: -fx-green-color;
	-fx-text-fill: -fx-yellow-color;
}

.order-summary .text-area {
	-fx-background-color: -fx-transparent-textfield-color;
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 16;
	-fx-background-radius: 5;
	-fx-padding: 7 10;
}

/* Orders */
.order-box {
	-fx-background-color: -fx-background-light-color;
	-fx-background-radius: 10;
	-fx-padding: 25;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.order-box .label {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 16;
}

.order-box .highlight {
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.order-box .bold {
	-fx-font-weight: bold;
}

.order-box .lowlight {
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 14;
}

.order-box .processing {
	-fx-text-fill: -fx-green-color;
	-fx-background-color: -fx-yellow-color;
	-fx-background-radius: 100;
	-fx-padding: 5 12;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.order-box .delivered {
	-fx-text-fill: -fx-yellow-color;
	-fx-background-color: -fx-green-color;
	-fx-background-radius: 100;
	-fx-padding: 5 12;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

/* Authentication */
.auth-bg {
	-fx-background-color: -fx-green-color;
}

.auth-bg .text-field {
	-fx-background-color: -fx-transparent-textfield-color;
	-fx-text-fill: #494949;
	-fx-prompt-text-fill: #898989;
	-fx-background-radius: 5;
	-fx-padding: 7 15;
	-fx-font-size: 16;
}

.auth-bg .button {
	-fx-font-weight: bold;
}

.auth-bg .prompt {
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.auth-bg .prompt-button {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-yellow-color;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

.auth-bg .prompt-button:hover {
	-fx-text-fill: white;
}

.auth-bg .check-box {
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.auth-bg .check-box .box {
	-fx-border-color: white;
	-fx-border-radius: 5;
}

.auth-bg .check-box .mark {
	-fx-background-color: transparent;
}

.auth-bg .check-box:selected .mark {
	-fx-background-color: -fx-yellow-color;
}

/* Sidebar */
.sidebar {
	-fx-background-color: -fx-yellow-color;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 15, 0, 5, 0);
}

.admin-pane {
	-fx-background-color: -fx-yellow-color;
}

.menu-btn {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-green-color;
}

.menu-btn .glyph-icon {
	-fx-fill: -fx-green-color;
	-fx-glyph-size: 30;
	-fx-size: 30;
}

.menu-btn .text {
	-fx-text-alignment: right;
	-fx-translate-x: 10;
	-fx-font-weight: bold;
}

.menu-btn:hover {
	-fx-background-color: transparent;
	-fx-text-fill: -fx-darker-green-color;
}

.menu-btn:hover .glyph-icon {
	-fx-fill: -fx-darker-green-color;
}

/* Header */
.header {
	-fx-background-color: -fx-green-color;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 15, 0, 0, 5);
}

.nav-btn {
	-fx-background-color: -fx-yellow-color;
	-fx-text-fill: -fx-green-color;
	-fx-font-size: 16;
	-fx-background-radius: 100;
	-fx-padding: 7 10;
}

.nav-btn:hover {
	-fx-background-color: -fx-darker-yellow-color;
}

.nav-btn .glyph-icon {
	-fx-fill: -fx-green-color;
}

.scene-label {
	-fx-font-size: 22;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

/* Forms */
.form {
	-fx-background-color: -fx-background-light-color;
	-fx-background-radius: 10;
	-fx-padding: 25;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}

.form .label {
	-fx-text-fill: #707070;
	-fx-font-size: 16;
}

/* Choice Box */
.choice-box {
	-fx-background-color: -fx-main-light-color;
	-fx-text-fill: -fx-text-light-color;
	-fx-background-radius: 5;
	-fx-font-size: 16;
}

.choice-box .arrow {
	-fx-background-color: -fx-green-color;
}

.choice-box .context-menu {
	-fx-background-color: -fx-main-light-color;
	-fx-background-radius: 5;
	-fx-text-fill: -fx-text-light-color;
	-fx-font-size: 16;
	-fx-pref-width: 250;
}

.choice-box .menu-item:focused {
	-fx-background-color: -fx-yellow-color;
	-fx-text-fill: -fx-green-color;
}

/* Panes */
#productFlowPane,
#inventoryFlowPane,
#cartFlowPane,
#orderFlowPane {
	-fx-padding: 25;
}

.thumb {
	-fx-background-color: -fx-green-color;
	-fx-background-radius: 10;
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, -fx-shadow-color, 30, 0, 3, 2);
}
