* {
	-fx-background-color: transparent;
}

.shadow {
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 30, 0, 3, 2);
}
.text-field {
	-fx-background-color: #e0e0e0;
	-fx-text-fill: #505050;
	-fx-background-radius: 5;
	-fx-padding: 7 10;
	-fx-font-size: 16;
}

.button {
	-fx-background-color: #fbc108;
	-fx-text-fill: #22423d;
	-fx-font-size: 16;
	-fx-background-radius: 5;
	-fx-padding: 7 15;
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: #e0ac00;
}

.action-btn {
	-fx-background-color: #22423d;
	-fx-text-fill: #fbc108;
	-fx-font-size: 16;
	-fx-font-weight: bold;
}

.action-btn:hover {
	-fx-background-color: #142b27;
}

.heading {
	-fx-text-fill: #22423d;
	-fx-font-size: 20;
	-fx-font-weight: bold;
}

.normal {
	-fx-font-size: 16;
	-fx-text-fill: rgba(0, 0, 0, 0.7);
}

.success-text {
	-fx-text-fill: white;
	-fx-background-color: #008200;
	-fx-font-size: 18;
	-fx-font-weight: bold;
	-fx-padding: 5 15;
	-fx-background-radius: 5;
}

.error-message {
	-fx-text-fill: red !important;
	-fx-font-size: 14 !important;
}

.error-message-light {
	-fx-text-fill: #ff7777;
	-fx-font-size: 14;
}

.thumb {
	-fx-background-color: #22423d;
	-fx-background-radius: 10;
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 30, 0, 3, 2);
}

/* Authentication */

.auth-bg {
	-fx-background-color: #22423d;
}

.auth-bg .text-field {
	-fx-background-color: rgba(255, 255, 255, 0.7);
	-fx-text-fill: #494949;
	-fx-prompt-text-fill: #898989;
	-fx-background-radius: 5;
	-fx-padding: 7 15;
	-fx-font-size: 16;
}

.auth-bg .button {
	-fx-font-weight: bold;
}

.auth-bg .prompt {
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.auth-bg .prompt-button {
	-fx-background-color: transparent;
	-fx-text-fill: #fbc108;
	-fx-font-size: 14;
	-fx-font-weight: bold;
}

.auth-bg .prompt-button:hover {
	-fx-text-fill: white;
}

.auth-bg .check-box {
	-fx-text-fill: white;
	-fx-font-size: 14;
}

.auth-bg .check-box .box {
	-fx-border-color: white;
	-fx-border-radius: 5;
}

.auth-bg .check-box .mark {
	-fx-background-color: transparent;
}

.auth-bg .check-box:selected .mark {
	-fx-background-color: #fbc108;
}

/* Sidebar */

.sidebar {
	-fx-background-color: #fbc108;
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 15, 0, 5, 0);
}

.admin-pane {
	-fx-background-color: #fbc108;
}

.menu-btn {
	-fx-background-color: transparent;
	-fx-text-fill: #22423d;
}

.menu-btn .glyph-icon {
	-fx-fill: #22423d;
	-fx-glyph-size: 30;
	-fx-size: 30;
}

.menu-btn .text {
	-fx-text-alignment: right;
	-fx-translate-x: 10;
	-fx-font-weight: bold;
}

.menu-btn:hover {
	-fx-background-color: transparent;
	-fx-text-fill: #142b27;
}

.menu-btn:hover .glyph-icon {
	-fx-fill: #142b27;
}

/* Header */

.header {
	-fx-background-color: #22423d;
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 15, 0, 0, 5);
}

.nav-btn {
	-fx-background-color: #fbc108;
	-fx-text-fill: #22423d;
	-fx-font-size: 16;
	-fx-background-radius: 100;
	-fx-padding: 7 10;
}

.nav-btn:hover {
	-fx-background-color: #e0ac00;
}

.nav-btn .glyph-icon {
	-fx-fill: #22423d;
}

.scene-label {
	-fx-font-size: 22;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.form {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 25;
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 30, 0, 3, 2);
}

.form .label {
	-fx-text-fill: #707070;
	-fx-font-size: 16;
}

.choice-box {
	-fx-background-color: #e0e0e0;
	-fx-text-fill: #505050;
	-fx-background-radius: 5;
	-fx-font-size: 16;
}

.choice-box .arrow {
	-fx-background-color: #22423d;
}

.choice-box .context-menu {
	-fx-background-color: #e0e0e0;
	-fx-background-radius: 5;
	-fx-text-fill: #505050;
	-fx-font-size: 16;
	-fx-pref-width: 250;
}

.choice-box .menu-item:focused {
	-fx-background-color: #fbc108;
	-fx-text-fill: #22423d;
}

#productFlowPane {
	-fx-padding: 25;
}

.product-box {
	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, rgb(40, 63, 59, 0.2), 30, 0, 3, 2);
}

.product-box .name {
	-fx-text-fill: #22423d;
	-fx-font-size: 16;
}

.product-box .unit {
	-fx-text-fill: #505050;
	-fx-font-size: 12;
}

.product-box .price {
	-fx-text-fill: #22423d;
	-fx-font-size: 18;
	-fx-font-weight: bold;
}

.product-box .button .glyph-icon {
	-fx-fill: #142b27;
}

.footer {
	-fx-background-color: #fbc108;
}
